# Pandas III

_October 29, 2020_

Agenda today:
- Statistics in Pandas 
- Groupby in Pandas
- Stacking & Unstacking

# Part I. Statistics in Pandas
Pandas allow us to calculate various summary statistics for the dataframe, such as mean, variance, and other descriptive statistics measurements. Let's see some examples.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [ ]:
#check the info

In [ ]:
# calculate mean beer_servings

In [ ]:
# calculate summary statistics for all measurements

In [ ]:
# how could we view summary statistics for categorical variable?

In [ ]:
# reviewing subsetting and selecting - select the countries on continent AF

## Part II. Pandas Groupby
Groupby methods in Pandas allow you to aggregate data and perform operations on them. The method can be summarized as split-apply-combine. The groupby function allow us to split the dataframe into _groups_, apply operations on them, and aggregate a final result. Let's look at some examples.

In [ ]:
# review summary statistics for each continent

In [ ]:
# which continent drinks more beer on average?

In [ ]:
# exercise - which continent drinks more beer than wine?

In [ ]:
# you can also groupby multiple columns - which will result in a hierarchical index. 

# read in df from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

# and set the index as user_id
occupations = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')

In [ ]:
occupations.head()

In [ ]:
# calculate the mean age per occupation

In [ ]:
# for each combination of sex and occupation, show the mean age, assigned it to group by age

In [ ]:
# exercise - for each occupation, calculate the percentage of female and sort it from high to low

In [ ]:
# if you want all the levels to be together, just sort the values

## Part III. Stacking & Unstack
Stack and unstack in Pandas provide a way for us to easily manipulate the format of our dataframes. As we see above, the row index can have hierarchy - where one level of index is nested under another. This structure can happen for columns as well. If we want to manipulate the structure of rows and columns, we need to learn stack() and unstack().

**Stack()**

<img src = 'stack.png' width = 450>

**Unstack()**

<img src = 'unstack.png' width = 450>

What you you think is happening here?

In [ ]:
# turn group by age from long to wide

In [ ]:
# play around with stacking and unstacking for the above datasets

#### Optional exercises & level up - the Adult dataset

In [ ]:
# read in the adults dataset 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = None

In [ ]:
# create a column called income binary, 1 if income >50k 0 otherwise

In [ ]:
# explore the racial distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by race

In [ ]:
# explore the gender distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by gender