# Phase 1 Self Code Challenge Review 

_November 4, 2020_ 

TOPICS TO BE COVERED:
- Pandas Operations
- Data Visualization
- Statistics
- Python Data Structure

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as snb 
plt.style.use('seaborn')

In [2]:
groomer_info = { 'pets':
    [{'Ginger': [{
        'age': 5,
        'type': 'Pitbull',
        'attribute': ['Playful','Cheery','Hyper']
    }],
    'Chloe': [{
        'age': 1,
        'type': 'Maine Coon Cat',
        'attribute': ['Alert','Independent','Playful']
    }],
    'Joe Rogan': [{
        'age': 8,
        'type': 'Parrot',
        'attribute': ['Loud','Opinionated','Annoying']
    }],
    'Rick Astley': [{
        'age': 2,
        'type': 'Labrador',
        'attributes': ['never','gives','you','up']
    }]}]
}

In [17]:
groomer_info.keys()

dict_keys(['pets'])

In [46]:
groomer_info['pets'][0]['Rick Astley'][0]['attributes'][0]

'never'

In [63]:
for n in groomer_info[n][0]['Ginger']: 
    print(n)

KeyError: 'attribute'

In [53]:
from bs4 import BeautifulSoup
import requests
import os
import codecs

In [54]:
wiki = "https://en.wikipedia.org/wiki/The_Gambia"
header = {
    'User-Agent': 'Mozilla/5.0'
}  # Needed to prevent 403 error on Wikipedia
page = requests.get(wiki, headers=header)
soup = BeautifulSoup(page.content)

In [55]:
page

In [56]:
print(page)

<Response [200]>

# Terms to remember

In [78]:
df = pd.read_csv('auto-mpg.csv')

In [79]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [65]:
#df.shape() - gives a tuple of length, index

In [66]:
#df.isnull() -

In [67]:
#df.columns #df.index -> rows

In [68]:
#df.unique()

In [69]:
#df.iloc - Locate by index

In [70]:
#df.loc - Locate by []

In [71]:
#[df.column name] = to set a new column name

In [72]:
#df.apply

In [73]:
#df.groupby